# Ignore arquivos de configuração do Visual Studio
.vscode/

# Ignore resultados de compilação
bin/
obj/

# Ignore pacotes NuGet
*.nupkg
packages/

# Ignore arquivos específicos do usuário
*.user
*.suo

# Ignore arquivos temporários
*.tmp
*.bak

# Ignore arquivos de log
*.log

# Outros arquivos que não são necessários no repositório
Thumbs.db
.DS_Store
*.pidb
*.pdb
*.mdb
*.dbmdl
*.dbproj.schemaview
*.ipch
*.jfm

# Ignore diretórios e arquivos relacionados ao Visual Studio
.vs/

# Ignore arquivos gerados pelo .NET CLI
project.lock.json
project.fragment.lock.json

# Adicionado: Ignore arquivos de projetos e soluções
*.csproj
*.sln

# Adicionado: Ignore arquivos .cache
*.cache

# Manter apenas arquivos de código fonte .cs
!**/*.cs
